/* [class^="container"]{
  background-color: rgba(0, 0, 250, 0.3);
  border: 1px solid black;
} */

.debug {
  background-color: rgba(187, 128, 179, 0.2);
  border: 1px solid black;
}


ul li{
  list-style: none;
}

.black-title {
  color: #333333;
}

.blue_star {
  color: #2c3e50;
}

/* HEADER */
header{
  height: 90px;
  background-color: #2c3e50;
}

/* SECTION */
section {
  padding: 60px 0;
}

/* JUMBOTRON */
#jumbotron {
  background-color: #1abc9c;
}

/* PORTFOLIO */
#portfolio {
  background-color: white;
}

#portfolio .sc-card {
  background-color: #1abc9c;
}

/* ABOUT */
#about {
  background-color: #1abc9c;
}

#about button {
  background-color: rgba(255, 255, 255, 0);
}

#about button:hover {
  background-color: #137964;
}

/* CONTACT_ME */
#contact_me {
  background-color: white;
}

.my_container {
  margin: 0 auto;
  width: 60%;
}

.my_form input,
.my_form textarea {
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.my_form input:focus,
.my_form textarea:focus {
  box-shadow: none;
}

.my_form input::placeholder,
.my_form textarea::placeholder {
  color: #2b3d4f;
} 

#contact_me button {
  background-color: #1abc9c;
  border: none;
}

#contact_me button:hover {
  background-color: #137964;
}

/* FOOTER */
footer {
  width: 100%;
}

/* .content_top {
  width: 1500px;
  height: 230px;
  border: 1px dashed black;
  background-color: #3a546d;
} */

/* .content_bottom {
  width: 1500px;
  height: 110px;
  border: 1px dashed black;
  background-color: #2c3e50;
} */