[class^="container"]{
  background-color: rgba(0, 0, 250, 0.3);
  border: 1px solid black;
  /*min-height: 50px;*/
}

header{
  height: 90px;
}

ul li{
  list-style: none;
}

.jumbotron {
  background-color: #1abc9c;
}

.content_jumbotron {
  width: 600px;
  height: 590px;
  border: 1px dashed black;
}

.portfolio {
  background-color: white;
}

.content_portfolio {
  width: 1140px;
  height: 860px;
  border: 1px dashed black;
}

.about {
  background-color: #1abc9c;
}

.content_about {
  width: 980px;
  height: 490px;
  border: 1px dashed black;
}